{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Resultados del lanzamiento del dado
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <td>Usted ingresó el número:</td>
        <td>{{ player.dice }}</td>
    </tr>
    {% comment %}
    <tr>
        <td>System's recorded the number:</td>
        <td>
            {% if player.report %}
                {{ player.report }}
            {% else %}
                El jugador no lanzó los dados
            {% endif %}
        </td>
    </tr>
    {% endcomment %}
    <tr>
        <td>Tú ganancia:</td>
        <td>{{ player.payoff }}</td>
    </tr>
</table>




{% next_button %}

{% endblock %}
