{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}
    Resultados Finales
{% endblock %}

{% block inner_content %}
   
    <div class="card mb-3 ">
        <div class="card-header">

            <div class="card-body">

                <div class="mb-3">
                    <div>
                        Has jugado {{ Constants.num_rounds}} rondas en los módulos 1 y 2.
                    </div>

                    <div>
                        Dos de estas {{ Constants.num_rounds}} rondas han sido seleccionadas al azar para
                        determina tus ganancias

                    </div>
                    <div>
                        Rondas Elegidas: {{ modules1_chosen_round }}, y {{ modules2_chosen_round }}
                    </div>
                    <div>
                        ganancias para la ronda 1: {{ modules1_payoff }}
                    </div>
                    <div>
                        ganancias para la ronda 2: {{ modules2_payoff }}
                    </div>
                    <div>
                        ganancias para la módulos 3: {{ modules3_payoff }} pesos
                    </div>
                    <div>
                        ganancias para la módulos 4: {{ modules4_payoff }}
                    </div>
                    <div>
                        cuota de presentación: {{ show_up_fee }}
                    </div>
                    <div>
                        Tu total: {{ total_payoff }} pesos
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
