{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}
    Introducción

{% endblock %}

{% block inner_content %}

    <div class="col-12 mb-3 ">
        <div class="card card-body bg-light">


            <div class="mb-2 ">
                Esta es una sesión experimental acerca de la toma de decisiones grupales. En ella tomará una serie de<br/>
                decisiones. Al finalizar la sesión se le pagará en función de las decisiones que usted y cada uno de los<br/>
                participantes, hayan tomado. Esta sesión tiene 4 módulos, cada uno con un experimento y usted podrá<br/>
                ganar dinero en cada uno de los módulos. Sus ganancias totales serán la suma de los resultados de cada<br/>
                uno de los módulos, más un monto por participación de $2000. Cada módulo se inicia con un breve<br/>
                período de instrucción, después del cual completará el módulo.

            </div>

            <div class="mb-2 ">
                Si tiene preguntas durante los períodos de instrucciones, por favor levante la mano luego de que el<br/>
                experimentador haya terminado de leerlas. Sus preguntas serán contestadas en voz alta para que todos<br/>
                puedan oírlas. Por favor, restrinja estas preguntas a la clarificación de las instrucciones solamente. Si<br/>
                tiene alguna consulta luego de que se ha iniciado alguna de las partes pagadas (del experimento),<br/>
                levante su mano y el experimentador se acercara a ayudarle. Aparte de las preguntas dirigidas a los<br/>
                experimentadores, se le solicita explícitamente que no se dirija ni se comunique con los otros
                participantes de la sesión.
            </div>
        </div>
    </div>




{% endblock %}
