{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block inner_title %}
    Resultados


{% endblock %}

{% block inner_content %}
    <table class="table table-hover table-striped">
        <tr>
            <td>El resultado de la tarea 1 es</td>
            <td>{{ group.get_task1outcome_display }}</td>
        </tr>
        <tr>
            <td>El resultado de la tarea 2 es</td>
            <td>{{ group.get_task2outcome_display }}</td>
        </tr>
        {% if player.role == 'P2' and group.get_guess1 != 'None' %}
            <tr>
                <td>Recuerde que la regla de decisión que usted eligió fue</td>
                <td>{{ group.get_retaining_display }}</td>
            </tr>
            <tr>
                <td>El resultado para el Jugador 1 es  </td>
                <td>{{ group.get_retention_decision|yesno:'Recompensa, No hay recompensa' }}</td>
            </tr>
            {% if player.round_number == Constants.p2_second_decision_rounds %}
                <tr>
                    <td>Su conjetura para la Tarea 1 era </td>
                    <td> {{ group.P2guess1 }} </td>
                </tr>
                <tr>
                    <td>Su conjetura para la Tarea 2 era</td>
                    <td> {{ group.P2guess1 }} </td>
                </tr>
            {% endif %}
        {% endif %}
        {% if player.role == 'P1' %}
            <tr>
                <td>Recuerde que la regla de decisión del Jugador 2 era</td>
                <td>{{ group.get_retaining_display }}</td>
            </tr>
            <tr>
                <td>El resultado es</td>
                <td>{{ group.get_retention_decision|yesno:'Recompensa, No hay recompensa' }}</td>
            </tr>
        {% comment %}
            <tr>
                <td>Tu ganancia de recompensa:</td>
                <td>{{ retention_gain }}</td>
            </tr>
            <tr>
                <td>Tu recompensa en esta ronda:</td>
                <td>{{ player.payoff }}</td>
            </tr>
        {% endcomment %}
        {% endif %}


    </table>


{% endblock %}
