{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Module 3 - Decision
{% endblock %}

{% block content %}


<div class="card border-dark mb-3">
    <div class="card-body text-dark">
        <div class="card-text">
            <ol type="a" class="list-group list-group-flush">
                <li class="list-group-item">
                    En este módulo tomarás 10 decisiones, pero al final solo una de ellas se usará una para determinar
                    sus ganancias en este módulo. Cada una de las decisiones consiste en elegir entre "Opción A" u
                    "Opción B." Una vez hayas tomado todas las decisiones el servidor seleccionará una de ellas de forma
                    aleatoria. Luego una segunda selección aleatoria determinará cuales son tus ganancias para la opción
                    que hayas elegido, A o B, en esa decisión. Aunque realizarás 10 decisiones, solo una de ellas será
                    relevante para calcular tus ganancias, pero no sabrás de antemano cuál. Obviamente todas las
                    decisiones tienen la misma probabilidad de ser elegidas.
                </li>
                <li class="list-group-item">
                    El tipo de decisiones que vas a tomar es el siguiente: En la Decisión 1, Opción A paga $1.000 con
                    probabilidad 10%, y paga $800 con probabilidad  90%. Opción B paga $1.950 con probabilidad 10%, y
                    paga $50 con probabilidad 90%. El resto de decisiones son similares, con la única diferencia que
                    la probabilidad de recibir el pago más alto en cada opción aumenta. De hecho, en la Decisión 10, la
                    segunda selección aleatoria del servidor no será necesaria para calcular tus ganancias dado que las
                    dos opciones pagan la cantidad más alta con probabilidad 100%, así que tu Decisión será entre $1.000
                    y $1.950.
                </li>
                <li class="list-group-item">
                    Estas ganancias se añadirán a tus ganancias previas de anteriores módulos y te pagaremos en efectivo
                    al final del experimento.
                </li>
            </ol>


        </div>
    </div>
</div>


Por favor eliga entre Opción A u Opción B para cada uno de los 10 pares
{{ formset.management_form }}
<table class="table1 table table-striped table-hover table-bordered text-center">
    <thead>
    <tr>
        <th></th>
        <th colspan="2">Option A</th>
        <th></th>
        <th colspan="2">Option B</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>${{ Constants.risk_choices_A.0 }}</th>
        <th>${{ Constants.risk_choices_A.1 }}</th>
        <th></th>
        <th>${{ Constants.risk_choices_B.0 }}</th>
        <th>${{ Constants.risk_choices_B.1 }}</th>

        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for f in formset %}
        <tr>

            <td>{{ f.answer.0 }} </td>


            <td>{{ f.instance.left_col }}%</td>
            <td>{{ f.instance.right_col }}%</td>
            <td> {% for hidden in f.hidden_fields %}
                {{ hidden }}
            {% endfor %}</td>
            <td>{{ f.instance.left_col }}%</td>
            <td>{{ f.instance.right_col }}%</td>
            <td>{{ f.answer.1 }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>
  


{% next_button %}

{% endblock %}
